---
// import ShortcutIsland from '../components/ShortcutAdder.jsx';
// import SearchBarIsland from '../components/SearchBar.tsx';
// import '../styles/global.css';
import Dashboard from '../components/dashboard';
---

<body class="bg-gray-800">
	<Dashboard client:load/>
</body>