---
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="w-screen h-screen bg-gray-300 relative">
			<div id="center-div" class="absolute text-center">
				<h1 class="text-xl py-3" >Welcome to Urls</h1>
				<!-- <input autocomplete="off" type="email" value="" id="email-input" class="p-3 rounded bg-transparent  border-b-1 border-black focus:outline-none" placeholder="Email"/>
				<input type="submit" class="rounded" value="Login" id="login-btn"/>
				<br>
				<span id="error-text" class="hidden">Invalid Email</span> -->
			</div>
		</div>
	</body>
</html>
<script>
	// import "../scripts/script.js";
</script>